<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <link rel="stylesheet" href="/css/PostStyles.css">
    <script src="https://kit.fontawesome.com/c462d93d69.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/Galery.css">
    <meta charset="utf-8">
    <title>{{ PostTitle }}</title>
</head>

<body>
    <div class="header" onclick="window.location='/'">
        <span class="backArrow"> <i class="fas fa-arrow-left"></i> </span>
        <span class="name">dirigity.github.io/</span>
    </div>

    <div class="card">
        <marginer>
            <h1 style="display: inline-block;">{{ PostTitle }}</h1>
            <tags>
                Tags:
                {% for tag in tags %}
                <tag>{{tag}}</tag>
                {% endfor %}
            </tags>
        </marginer>

        <div id="galery" style="height: 15cm; justify-content: center; align-items: center; display: flex; flex-wrap: wrap; flex-direction: column;"></div>
        <script>
            function createGal() {
                let Images = {{ Images }}
                for (let i = -1; i < Images.length; i++) {
                    console.log("appending photo n " + i)
                    let current = "";
                    if (i != -1) current = Images[i];
                    else current = "{{ThumbNailUrl}}";
                    let gal = document.getElementById("galery");

                    let controls = `<a href="#perfundo-untarget" class="gal_close perfundo__control js-perfundo-close enlarge"><i class="far fa-times-circle"></i></a>`;
                    if (i != Images.length - 1) controls += `<a class="gal_next perfundo__control js-perfundo-next enlarge" href="#perfundo-img` + (i + 1) + `"><i class="fas fa-chevron-right"></i></a>`;
                    if (i != -1) controls += `<a class="gal_prev perfundo__control js-perfundo-prev enlarge" href="#perfundo-img` + (i - 1) + `"><i class="fas fa-chevron-left"></i></a>`;
                    
                    let HTMLCode = `
                                    
                                    <div style="display: inline-block; text-align: center; height: 10cm">
                                        <a class="perfundo__link js-perfundo-link" href="#perfundo-img`+ i + `"  style="margin: 10px; display: inline-block">
                                            <img src="`+ current + `" alt="` + current + `" style="height:10cm; width:auto">
                                        </a>
                                            <div id="perfundo-img`+ i + `" class="perfundo__overlay fadeIn js-perfundo-overlay">
                                                <figure class="perfundo__content perfundo__figure">
                                                <img style="width: auto; height: auto;" src="`+ current + `" alt="` + current + `">
                                                </figure>
                                                

                                                `+ controls + `

                                            </div> 
                                    </div>
                                    `;

                    gal.innerHTML = gal.innerHTML + HTMLCode;
                                    // <div class="perfundo__image" style="width: 800px; padding-top: 66.25%; background-image: url(`+ current + `);"></div>

                }
            }
            createGal();
        </script>
        <marginer>
            <h2>{{ PostDescription }}</h2>
            {{ content }}
        </marginer>


    </div>

    <script src="/scripts/Galery.js"></script>


</body>

</html>